.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin: 0 auto; 
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #ffffff;
}
h1 {
  margin-bottom: 20px; 
}
ul {
  list-style: none;
  padding: 0;
  margin: 0; 
  text-align: center;
}
ul li {
  display: block; 
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  width: 100%; 
  box-sizing: border-box; 
}
li.todo-item {
  overflow: hidden;
}
button {
  min-width: 75px;
  margin: 0 10px 10px 0;
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5cb85c;
  color: white;
  transition: max-width 0.3s ease-in-out;
}
.button-hover:hover {
  background-color: #4cae4c; 
}
.todo-checkbox {
  cursor: pointer;
  margin-right: 10px;
}
input[type="checkbox"] {
  margin-right: 2rem;
}
.todo-item {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin-bottom: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  width: 100%;
  box-sizing: border-box;
}
.todo-buttons {
  display: flex;
  justify-content: flex-end; 
  width: 100%; 
}
.todo-done-button {
  background-color: #5cb85c; 
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 8px; 
  cursor: pointer;
}
.todo-done-button.todo-done {
  background-color: #f44336; 
}
.button-active {
  background-color: #007bff; 
  color: white;
}
.button-important {
  background-color: #f00; 
  color: #fff; 
}
.todo-text {
  max-width: 500px;
  display: inline-block; 
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
  transition: max-width 0.3s ease-in-out;
}
.todo-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 4px; 
  width: 100%;
  margin-top: 8px;
}
.completed {
  text-decoration: line-through;
  color: red;
}
.filter-buttons-container {
  margin-bottom: 20px; 
}
input[type="text"] {
  margin-bottom: 20px; 
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.todo-item-important {
  border-left: 6px solid red;
  padding-left: 8px;
} 

@media (max-width: 640px) {
  .todo-text {
    max-width: 450px; /* Mniejsza maksymalna szerokość dla ekranów 640px i mniejszych */
  }
}

@media (max-width: 580px) {
  .todo-text {
    max-width: 400px; /* Mniejsza maksymalna szerokość dla ekranów 640px i mniejszych */
  }
}

@media (max-width: 540px) {
  .todo-text {
    max-width: 350px; 
  }
  button {
    min-width: 50px;
    margin: 0 10px 10px 0;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5cb85c;
    color: white;
  }
}

