.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin: 0 auto; /* Wyśrodkowuje cały kontener aplikacji */
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #ffffff;
}

h1 {
  margin-bottom: 20px; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Usuwa domyślny margines */
  text-align: center; /* Wyśrodkowuje tekst elementów listy */
}

ul li {
  display: block; /* Każdy element listy jest elementem blokowym */
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  width: 100%; /* Pełna szerokość kontenera ul */
  box-sizing: border-box; /* Wlicza padding i border w całkowitą szerokość i wysokość elementu */
}

button {
  min-width: 75px;
  margin: 0 10px 20px 10px;
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5cb85c;
  color: white;
}

button:hover {
  background-color: #4cae4c;
}

.todo-checkbox {
  cursor: pointer;
  margin-right: 10px;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.todo-text {
  flex-grow: 1;
  margin-right: 10px; /* Dodaje trochę przestrzeni między tekstem a przyciskami */
  overflow: hidden; /* Zapobiega wypływaniu tekstu */
  text-overflow: ellipsis; /* Dodaje kropki (...) gdy tekst jest za długi */
  white-space: nowrap; /* Zapobiega przenoszeniu tekstu do nowej linii */
}

.todo-remove-button {
  margin-left: 10px;
}

.todo-edit-button {
  margin-left: 10px; 
}

.completed {
  text-decoration: line-through;
  color: red;
}

.filter-buttons-container {
  margin-bottom: 20px; 
}

input[type="text"] {
  margin-bottom: 20px; /* Dodaje przestrzeń pod polem tekstowym */
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}